.black_box{
    background-color: black;
    width: 12.vw;
    height: 12.5vh;
    cursor: pointer;
}

.white_box{
    background-color: white;
    width: 12.5vw;
    height: 12.5vh;
    cursor: pointer;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.grid-wrapper > button {
    border: none;
}

.active{
    background-color: red !important;
}